body{
    background-color: #080808f3;
    color: #fdffff;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
}

input {
    outline: none;
    -webkit-app-region: no-drag;
}

/* ドラッグ可能エリア */
.dragArea {
    -webkit-app-region: drag;
}

/* 入力エリア */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input {
    height: 24px;
    text-align: center;
}

#inputArea {
    background-color: #19191966;
    color: #757575;
    width: 80px;
    border: none;
    text-align: center;
}

/* シークバー */
#seekbar[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #3333338c;
    height: 2px;
    width: 90%;
}

#seekbar[type="range"]:focus,
#seekbar[type="range"]:active {
    outline: none;
}

#seekbar[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid ;
    background-color: #c9c9c9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

/* 終了ボタン */
.exit {
    height: 24px;
    margin-right: 7px;
    margin-bottom: -6px;
    text-align: right;
}

/* 下部ボタン */
.buttons {
    height: 57px;
    margin-top: -5px;
    text-align: center;
    user-select: none;
}

#searchButton {
    margin-right: 10px;
}

#shuffleButton {
    margin-left: 10px;
    filter: brightness(0.5);
}